<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671024400454-dammp941c6v9ekdn7d6ug52nt94ler3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671024400454-dammp941c6v9ekdn7d6ug52nt94ler3c</string>
	<key>API_KEY</key>
	<string>AIzaSyAJpMQnKvKfjHnbscI41DtP8jvZJTUWNzA</string>
	<key>GCM_SENDER_ID</key>
	<string>671024400454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restNote.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rest-diary-c01f6</string>
	<key>STORAGE_BUCKET</key>
	<string>rest-diary-c01f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671024400454:ios:3bf1c8fb134f838e0f2247</string>
</dict>
</plist>